@import "./../../styles/_colors";

.btn-logout {
  width: 250px;
  margin: auto;
  background: @facebook-one;
  box-sizing: content-box;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background: darken(@facebook-one, 15%);
  }

  .logged-in__img {
    margin-right: 10px;
  }

  .logged-in-user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logged-in__name {
      font-family: 'Helvetica', sans-serif;
      font-size: 15px;
      color: @default-color;
      margin: 0;
    }
  }
}