@import '../../styles/_colors';

.table {

  .table__head__cell {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    color: @light-grey-two;
    border-bottom: none;
  }

  .table__body_cell {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    color: @medium-grey;
  }

}
